  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18px;
      line-height: 1.6em;
    }

    #welcome p span {
      font-weight:bold;
    }

    #about p span {
      font-style: italic;
    }
  </style>